<%- include('_layouts/header') %>
	
	<!-- Error -->
	<div class="bg12 how-height1 pos-relative how4 flex-col-c-m p-rl-15 p-tb-50">
		<img class="ab-t-l" src="images/other-14.jpg" alt="IMG">
		<img class="ab-t-r" src="images/other-15.jpg" alt="IMG">
		<img class="ab-b-l" src="images/other-17.jpg" alt="IMG">
		<img class="ab-b-r" src="images/other-16.jpg" alt="IMG">

		<span class="txt-l-701 cl6 txt-center p-b-30 respon1">
			Oops!
		</span>

		<span class="txt-l-114 cl6 txt-center p-b-30 respon15">
			404-ERROR FILE
		</span>

		<span class="txt-s-122 cl9 txt-center p-b-50">
			The page you’re looking for not found!
		</span>

		<a href="/" class="flex-c-m txt-s-107 cl0 bg10 size-a-30 hov-btn2 trans-04">
			back to home
		</a>
	</div>

	

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/slick/slick.min.js"></script>
	<script src="js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="vendor/parallax100/parallax100.js"></script>
<!--===============================================================================================-->
	<script src="vendor/lightbox2/js/lightbox.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/sweetalert/sweetalert.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/moment.min.js"></script>
	<script src="vendor/countdowntime/moment-timezone.min.js"></script>
	<script src="vendor/countdowntime/moment-timezone-with-data.min.js"></script>
	<script src="vendor/countdowntime/jquery.countdown.min.js"></script>
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>