<%- include('_layouts/header') %>
	

<!-- content page -->
<div class="bg0 p-tb-100">
    <div class="container">
        <div class="wrap-table-shopping-cart">
            <table class="table-shopping-cart">
                <tr class="table_head bg12">
                    <th class="column-2">Store Name</th>
                    <th class="column-2">Address</th>
                    <th class="column-3">Contact Details</th>
                    <th class="column-2">Select Store</th>
                </tr>

                    <tr class="table_row">
                        <td class="column-1">
                            <div class="flex-w flex-m">
                                <div class="wrap-pic-w size-w-50 bo-all-1 bocl12 m-r-30">
                                    <img src="#" alt="IMG">
                                </div>
                                <span>
                                    Name
                                </span>
                            </div>
                        </td>
                        <td class="column-2">
                            Address
                        </td>
                        <td class="column-3">
                            9654212345
                        </td>
                        <td class="column-2">
                            <div class="flex-w flex-sb-m">
                                <button type="submit">Select Store</button>
                                <!-- <a href="#"><i class="icon-eye" style="font-size: 120%;"></i></a> -->
                            </div>
                        </td>
                    </tr>
            </table>
        </div>
</div>


<%- include('_layouts/footer') %>